<h3>{{ message }}</h3>
<div class="form-group">
  <form (ngSubmit)="login()" [formGroup]="loginForm">
    <div class="input-group">
      <label for="name">Login: </label>
      <input
        type="text"
        placeholder="Username"
        required
        name="username"
        formControlName="username"
      />
      @let username = loginForm.get('username');
      @if ((username?.dirty && username?.invalid) || message) {
        <div class="error">* Username is Mandatory</div>
      }
    </div>
    <div class="input-group">
      <label for="password">Password: </label>

      <input
        type="password"
        placeholder="Password"
        required
        name="password"
        formControlName="password"
      />
      @let password = loginForm.get('password');
      @if ((password?.dirty && password?.invalid) || message) {
        <div class="error">* Password is Mandatory</div>
      }
    </div>
    <div class="row">
      <button [disabled]="loginForm.invalid">Login</button>
    </div>
  </form>
</div>
